html {
	font-family: Helvetica;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}
h1{
	color: #0F3376;
	padding: 2vh;
	font-size: 50px;
}
h3{
	color: #0F3376;
	font-size: 30px;
	margin-block-end: auto;
}
h4{
	display: inline-flex;
	color: #f44336;
	font-size: 60px;
	margin-block-end: auto;
    margin-block-start: auto;
}
p{
	font-size: 1rem;
}
input[type=text] {
	width: 100%;
	padding: 5px 0px;
	margin: 5px 0;
	font-size: 20px;
}

input[type=number] {
	padding: 5px 0px;
	margin: 5px 0;
	font-size: 20px;
}

.fullsize{
	width: 100%;
}

.left {
	text-align: left;
}
.left-float{
	float: left;
}
.center {
	text-align: center;
}
.contend {
	display: inline-block;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 20px;
	margin: 2px;
	cursor: pointer;
	vertical-align: top;
	width: -webkit-fill-available;
	max-width: 300px;
}

.bor-blue {
	box-sizing: border-box;
	border-color: #008CBA;
}

.blue {
	background-color: #008CBA;
}

.red {
	background-color: #f44336;
}

.green {
	background-color: #32CD32;
}

.SetTemperature {
	color: #0F3376;
	font-size: 30px;
	padding-right: 10%;
    padding-left: 10%;
}



input[type="range"] {
	width:50%;
	min-width: 250px;
}
input[type="range"]::-moz-range-progress {
	background-color: red;
}

input[type="range"]::-moz-range-track {
	background-color: grey;
}

.bound_label.left {
	float:left;
}
.bound_label.right {
	float:right;
}

.inputCenter{
	width: 20%;
	text-align: center;
}
/**************************** checkbox ****************************************/

.onoff {

}

.onoff input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.onoff label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: #f44336;
	display: inline-block;
	border-radius: 30px;
	position: relative;
}

.onoff label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 24px;
	transition: 0.3s;
}

.onoff input:checked + label {
	background: #32CD32;
}

.onoff input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.onoff label:active:after {
	width: 30px;
}
/*
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
*/

/******************************************************************/

.wifiNote {
	min-height: 80px;
	border: black;
	border: solid;
	border-radius: 4px;
	margin: 20px 0px 20px 0px;
}

.wifiSubNote {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.flag {
	position: absolute;
	margin-left: 83%;
}

.flag img {
    cursor: pointer;

}
